# üìä Project: Built-in Dataset Analysis with Pandas  
### Week 3 ‚Äî Python for Data Analysis (Ch. 5‚Äì6)

## Role
You are a **Junior Data Analyst** practicing Pandas fundamentals using a
**library-provided built-in dataset**.

## Objective
The goal of this week is to practice **data creation, access, inspection, and export**
using Pandas, following Chapters 5 and 6 of *Python for Data Analysis*.

You will:
- Work with a **built-in dataset**
- Save it to files (CSV / JSON / Excel)
- Reload and analyze it using Pandas indexing and filtering

## Dataset (Built-in, Library-Based)

You will use the **`exercise` dataset from the `seaborn` library**.

This dataset is **bundled with the library** and does not require manual data creation
or external downloads.

### How the dataset is included

```python
import seaborn as sns
df = sns.load_dataset("exercise")

## Dataset Description

Each row represents a **heart rate measurement during exercise**.

### Columns
- `id` ‚Äî participant identifier  
- `diet` ‚Äî diet group  
- `pulse` ‚Äî heart rate (beats per minute)  
- `time` ‚Äî time of measurement (minutes)  
- `kind` ‚Äî activity type (`rest`, `walking`, `running`)  

This dataset will be treated as **raw observational data**.

# üß™ Practice ‚Äî Pandas Basics (Ch. 5)

## Practice 1 ‚Äî Create a Series
From the built-in dataset:

- Create a Pandas **Series** using the `pulse` column  
- Give the Series a meaningful name  
- Examine its index and values  

‚úèÔ∏è *Write your solution below*

In [1]:
# Import required libraries
import seaborn as sns
import pandas as pd
import numpy as np
import openpyxl

# Load the dataset and drop unnecessary column
# (Some seaborn datasets may have 'Unnamed: 0', if not, this will raise an error)
data = sns.load_dataset("exercise").drop('Unnamed: 0', axis=1)
data.head()

   id     diet  pulse    time  kind
0   1  low fat     85   1 min  rest
1   1  low fat     85  15 min  rest
2   1  low fat     88  30 min  rest
3   2  low fat     90   1 min  rest
4   2  low fat     92  15 min  rest

In [2]:
# Create a Series with a meaningful name from the "pulse" column
pulse_data = data["pulse"].copy()
pulse_data.name = "Client Pulses"
pulse_data.index.name = "Indexes"
pulse_data

Indexes
0      85
1      85
2      88
3      90
4      92
     ...
85    135
86    130
87     99
88    111
89    150
Name: Client Pulses, Length: 90, dtype: int64

## Practice 2 ‚Äî Create a DataFrame
Using the dataset:

- Create a new **DataFrame subset** containing:
  - `id`
  - `kind`
  - `pulse`
- Check the shape of the new DataFrame  

‚úèÔ∏è *Write your solution below*

In [3]:
# Create a new DataFrame containing only the relevant columns
subset_cols = ["id", "kind", "pulse"]
data_2 = data[subset_cols].copy()
data_2

    id     kind  pulse
0    1     rest     85
1    1     rest     85
2    1     rest     88
3    2     rest     90
4    2     rest     92
..  ..      ...    ...
85  29  running    135
86  29  running    130
87  30  running     99
88  30  running    111
89  30  running    150

[90 rows x 3 columns]

In [4]:
# Check the shape of the DataFrame
data_2.shape

(90, 3)

## Practice 3 ‚Äî Save the Built-in Dataset
Using Pandas:

- Save the dataset to a **CSV** file  
- Save the same dataset to **JSON**  
- Save the same dataset to **Excel**  

These files will be reused in later steps.

‚úèÔ∏è *Write your solution below*

In [5]:
# Save in different formats
# CSV
data_2.to_csv("exercise_data.csv", index=False)
# JSON
data_2.to_json("exercise_data.json", orient="records")
# Excel
data_2.to_excel("exercise_data.xlsx", index=False)

## Practice 4 ‚Äî Label-Based Indexing (`.loc`)
Using `.loc`:

- Select all rows where `kind` is `"running"`  
- Select only the `pulse` and `time` columns  
- Select a single row using a label-based index  

‚úèÔ∏è *Write your solution below*

In [6]:
# Select rows where the "kind" column is "running"
running_df = data_2.loc[data_2["kind"] == "running"]
running_df.head()

    id     kind  pulse
60  21  running     93
61  21  running     98
62  21  running    110
63  22  running     98
64  22  running    104

In [7]:
# Select only the "pulse" and "kind" columns
data_2.loc[:, ["pulse", "kind"]]

    pulse     kind
0      85     rest
1      85     rest
2      88     rest
3      90     rest
4      92     rest
..    ...      ...
85    135  running
86    130  running
87     99  running
88    111  running
89    150  running

[90 rows x 2 columns]

In [8]:
# Select a single row by label (example: row 1)
data_2.loc[1, :]

id          1
kind     rest
pulse      85
Name: 1, dtype: object

## Practice 5 ‚Äî Position-Based Indexing (`.iloc`)
Using `.iloc`:

- Select the first 5 rows  
- Select the last 2 columns  
- Access a single value using row and column positions  

‚úèÔ∏è *Write your solution below*

In [9]:
# Select the first 5 rows
data_2.iloc[:5]

   id  kind  pulse
0   1  rest     85
1   1  rest     85
2   1  rest     88
3   2  rest     90
4   2  rest     92

In [10]:
# Select the last two columns
data_2.iloc[:, -2:]

       kind  pulse
0      rest     85
1      rest     85
2      rest     88
3      rest     90
4      rest     92
..      ...    ...
85  running    135
86  running    130
87  running     99
88  running    111
89  running    150

[90 rows x 2 columns]

In [11]:
# Access a single value by row and column position
# (example: row 0, column 1)
data_2.iloc[0, 1]

'rest'

# üß™ Practice ‚Äî Accessing Data (Ch. 6)

## Practice 6 ‚Äî Load Data from Files
Load the files you previously saved:

- Load the **CSV** file using Pandas  
- Load the **JSON** file using Pandas  
- Load the **Excel** file using Pandas  

Display the first few rows of each DataFrame.

‚úèÔ∏è *Write your solution below*

In [12]:
# Load previously saved files
csv_data = pd.read_csv("exercise_data.csv")
json_data = pd.read_json("exercise_data.json")
excel_data = pd.read_excel("exercise_data.xlsx")

In [13]:
# Show the first 2 rows of the CSV file
csv_data.head(2)

   id  kind  pulse
0   1  rest     85
1   1  rest     85

In [14]:
# Show the first 2 rows of the JSON file
json_data.head(2)

   id  kind  pulse
0   1  rest     85
1   1  rest     85

In [15]:
# Show the first 2 rows of the Excel file
excel_data.head(2)

   id  kind  pulse
0   1  rest     85
1   1  rest     85

# ‚úÖ Pass ‚Äî End-to-End Pandas Task

## Pass 1 ‚Äî Load the CSV Dataset
Load the dataset from the **CSV file created from the built-in dataset**.

‚úèÔ∏è *Write your solution below*

In [16]:
# Reload the seaborn dataset and save as CSV
sns_data = sns.load_dataset("exercise").drop('Unnamed: 0', axis=1)
sns_data.to_csv("built-in-data.csv", index=False)

# ‚úÖ Pass ‚Äî End-to-End Pandas Task

## Pass 1 ‚Äî Load the CSV Dataset
Load the dataset from the **CSV file created from the built-in dataset**.

‚úèÔ∏è *Write your solution below*

In [17]:
# Load from CSV and show the first 2 rows
df = pd.read_csv("built-in-data.csv")
df.head(2)

   id     diet  pulse    time  kind
0   1  low fat     85   1 min  rest
1   1  low fat     85  15 min  rest

## Pass 2 ‚Äî Inspect the Dataset
Inspect the dataset using:

- `.head()`  
- `.info()`  
- `.describe()`  

Focus on:
- Data types  
- Value ranges  
- Missing values  

‚úèÔ∏è *Write your solution below*

In [18]:
# Show the first few rows
df.head()

   id     diet  pulse    time  kind
0   1  low fat     85   1 min  rest
1   1  low fat     85  15 min  rest
2   1  low fat     88  30 min  rest
3   2  low fat     90   1 min  rest
4   2  low fat     92  15 min  rest

In [19]:
# Get info about the dataset
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      90 non-null     int64
 1   diet    90 non-null     str
 2   pulse   90 non-null     int64
 3   time    90 non-null     str
 4   kind    90 non-null     str
dtypes: int64(2), str(3)
memory usage: 3.6 KB

In [20]:
# Basic statistical summary
df.describe()

              id       pulse
count  90.000000   90.000000
mean   15.500000   99.700000
std     8.703932   14.858471
min     1.000000   80.000000
25%     8.000000   90.250000
50%    15.500000   96.000000
75%    23.000000  103.000000
max    30.000000  150.000000

## Pass 4 ‚Äî Boolean Filtering
Filter the dataset using boolean masks.

Examples:
- Pulse values greater than **140 bpm**  
- Measurements taken at time **‚â• 15**  
- Only **running** activity records  

‚úèÔ∏è *Write your solution below*

In [21]:
df[(df["pulse"] > 140) & (df["time"] >= "15 min") & (df["kind"] == "running")]

    id    diet  pulse    time     kind
77  26  no fat    143  30 min  running
89  30  no fat    150  30 min  running

## Pass 5 ‚Äî Clean and Export Data
Create a **cleaned version** of the dataset.

### Requirements
- Handle missing or invalid pulse values  
- Ensure correct data types  
- Export the cleaned dataset to a new CSV file  
  (e.g. `exercise_clean.csv`)  

‚úèÔ∏è *Write your solution below*

In [22]:
# Check for missing data
df.isna().sum()

id       0
diet     0
pulse    0
time     0
kind     0
dtype: int64

In [23]:
# Check the first few rows again
df.head()

   id     diet  pulse    time  kind
0   1  low fat     85   1 min  rest
1   1  low fat     85  15 min  rest
2   1  low fat     88  30 min  rest
3   2  low fat     90   1 min  rest
4   2  low fat     92  15 min  rest

In [24]:
# Convert the "time" column to integer
df['time'] = df['time'].str.replace(' min', '', regex=False).astype(int)

In [25]:
# Check the data type of the "time" column
df["time"].dtype

dtype('int64')

In [26]:
# Save the cleaned dataset
df.to_csv("exercise_clean.csv", index=False)